<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy Factory</title>
</head>
    <hr>
    <h1>The Dairy Factory</h1>
    <hr>
    <h3>Buy All Dairy products online</h3>
    <hr>
    <a href="/">Home</a>
    <a href="/product" target="_blank">Products</a>  
    <a href="/order" target="_blank">Place Order</a>
    <br>
    <div class="row">
        <div class="column">
            <img src="Images/Img1.jpg" width="100%" height="310">
        </div>
        <div class="column">
            <img src="Images/Img2.jpg" width="100%" height="310">
        </div>
        <div class="column">
            <img src="Images/Img3.jpg" width="100%" height="310"> 
        </div>
    </div>
    
    <p>Milk and other dairy foods, however, are great sources of protein, calcium and vitamins for people in all walks of life, including adults, seniors and athletes. Dairy products are loaded with essential vitamins and minerals, including carbohydrates, protein, calcium, phosphorus, potassium, vitamins A, D, B12, riboflavin and niacin.
        Benefits of dairy products are many that is why doctors and Nutritionists recommend to include dairy or milk products. Incorporating dairy and the dairy products in your daily routine can be proven to be extremely beneficial to strengthen your bones and muscles.
    </p>
</body>
</html>
