<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <h1>Cart</h1>
    <hr>
    <a href="index.html" target="_blank">Home</a> 
    <a href="/product" target="_blank">Products</a>
    <a href="/order" target="_blank">Place Order</a>
    <hr>
    <br>
    <form action="/submit" method="POST">
    <table>
    <tr><td>Name</td><td><input type="text" name="Name"></td></tr>
    <tr><td>Email</td><td><input type="email" name="email"></td></tr>
    <tr><td>Phone Number</td><td><input type="text" name="phone number"></td></tr>
    <tr><td>Address</td><td><textarea name="address" cols="30" rows="10"></textarea></td></tr>
    </table>

    <table border="2">
    <tr>
        <th>Enter Product Name</th>
        <th>Quantity</th>
    </tr>
        <tr>
            <td><input type="text" name="name" ></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" multiple></td>
            <td><input type="number" name="Quantity"></td>
        </tr>
</table>
<tr><td><input type="submit" name="submit" value="Place Order"></td></tr>
</form>
</body>
</html>