<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products 1</title>
</head>
<body>
    <!body style="background-color:rgba(145, 90, 46, 0.534);">
    <h1>Our Products</h1>
    <hr>
    <a href="/">Home</a>
    <a href="/product" target="_blank">Products</a>
    <a href="/order" target="_blank">Place Order</a>
    
    <hr>
    <br>
    <div class="productone">
        <table border="3">
        <tr>
            <th>Product name</th>
            <th>Product</th>
            <th>Price (-/INR)</th>

        </tr>
        <tr>
            <td>Organic Fresh Butter (Salted)</td>
            <td><img src="Images/Fresh Butter.jpg" width="35%" height="210"></td>
            <td>300.Rs</td>
            
        </tr>
    <tr>
        <td>Fresh Butter (Unsalted)</td>    
        <td><img src="Images/Fresh Butter 2.jpg" width="35%" height="310"></td>
        <td>350.Rs</td>
        
    </tr>
    <tr>
        <td>Cheddar Cheese </td>
        <td><img src="Images/Cheddar Cheese1.jpg" width="35%" height="210"></td>
        <td>250.Rs</td>
        
    </tr>
    <tr>
        <td>Mozzarella Cheese</td>
        <td><img src="Images/Mozzarella Cheese.jpg" width="35%" height="210"></td>
        <td>380.Rs</td>
        
    </tr>
    <tr>
       <td>Ghee</td> 
       <td><img src="Images/Ghee.jpg" width="35%" height="210"></td>
       <td>250.Rs</td>
       
    </tr>
    <tr>
       <td>Cow Milk</td> 
       <td><img src="Images/Cow Milk.jpg" width="35%" height="210"></td>
       <td>25.Rs/Litre</td>
       
    </tr>
    </table>
</div>
        <a href="/products" target="_blank">Next Page</a>
</body>
</html>
