<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products 2</title>
</head>
<body>
    <body>
        <h1>Our Products</h1>
        <hr>
        <a href="index.html" target="_blank">Home</a>
        <a href="/product" target="_blank">Products</a>
        <a href="/order" target="_blank">Place Order</a>
        
        <hr>
        <br>
        <table border="3">
        <tr>
            <th>Product name</th>
            <th>Product</th>
            <th>Price (-/INR)</th>
            
        </tr>
            <tr>
                <td>Yogurt</td>
                <td><img src="Images/Yogurt.jpg" width="35%" height="210"></td>
                <td>500.Rs</td>
              
            </tr>
        <tr>
            <td>Goat Milk</td>    
            <td><img src="Images/Goat Milk.jpg" width="35%" height="210"></td>
            <td>30.Rs/Litre</td>
            
        </tr>
        <tr>
            <td>Whipped cream </td>
            <td><img src="Images/Whipped Cream.jpg" width="35%" height="210"></td>
            <td>250.Rs</td>
            
        </tr>
        <tr>
            <td>Curd</td>
            <td><img src="Images/Curd.jpg" width="35%" height="210"></td>
            <td>30.Rs/Litre</td>
           
        </tr>
        <tr>
           <td>Condensed Milk</td> 
           <td><img src="Images/Condensed Milk.jpg" width="35%" height="210"></td>
           <td>40.Rs/Litre</td>
           
        </tr>
        <tr>
           <td>Paneer</td> 
           <td><img src="Images/Paneer.jpg" width="35%" height="310"></td>
           <td>300.Rs</td>
           
        </tr>
        </table>
            <a href="/product">Back</a>
        </form>
    </body>
    </html>
</body>
</html>